{% extends "layouts/base.html" %}

{% block content %}
  <div class="centered-content lk-squeeze-tight">
    <h2>No Downloads Remaining</h2>
    <p>You have exceeded your 5 downloads limit. Please contact sammyteahan@gmail.com</p>
  </div>
{% endblock content %}
