{% extends "layouts/base.html" %}

{% block content %}
  <div class="thank-you-wrapper">
    <div class="centered-content lk-squeeze-tight">
      <div class="text--center">
        <h2 class="title">Thanks!</h2>
        <p class="push--bottom">Check your email for your download link</p>
        <p class="extra-info">
          If you don't receive a link within a few minutes please email <a href="mailto:sammyteahan@gmail.com">sammyteahan@gmail.com</a>
        </p>
        <div class="push--ends">
          <a class="btn btn-sm primary" href="{{ url_for('product.index') }}">Home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
