/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

body {
  background: color(neutral-0);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

.lk-content {
  @include flex(1);
  position: relative;
}

.section {
  ul {
    list-style: none;
  }
}

/*------------------------------------*\
                ¡COLUMNS
\*------------------------------------*/

/**
 * TODO This class is an inherent code smell imo, need to fix
 */
.full {
  @include flexbox();
  height: 100%;

  @media screen and (max-width: breakpoint(desktop-lg)) {
    /**
     * flexbox is lame sometimes. I was just switching from
     * rows to columns here, but there were issues dealing
     * with height and preventing scrolling.
     */
    display: inline;
  }
}

.main-col {
  @include flexbox();
  @include flex(3);
  @include align-items(center);
  @include justify-content(center);
  background: url(/static/assets/img/mast-bg.png) no-repeat scroll center bottom;
  background-size: cover;

  &-accent {
    background: url(/static/assets/img/mast-bg-green.png) no-repeat scroll
      center bottom;
    background-size: cover;
  }

  .title {
    font-size: 92px;
    color: color(neutral-1);
    font-family: "Reenie Beanie", cursive;
  }
  .sub-title-wrapper {
    padding: 0 20px;
  }
  .sub-title {
    font-size: 34px;
    color: color(neutral-1);
    font-family: "Reenie Beanie", cursive;
  }
  .sub-title-info {
    color: color(muted);
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .content {
    padding: 0 20px;
  }
  .description {
    color: color(neutral-1);
    max-width: 500px;
    font-size: 18px;
    line-height: 26px;
    margin: 40px 0;
  }
  .stripe {
    color: color(muted);
    font-size: 12px;
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    @include flex(1);

    .main-wrapper {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
    }
    .content {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
    }
    .title {
      font-size: 42px;
    }
    .sub-title-wrapper {
      padding: 0 10px;
    }
    .sub-title {
      font-size: 18px;
    }
    .content {
      padding: 0 10px;
    }
    .description {
      font-size: 14px;
      line-height: 24px;
      max-width: 300px;
    }
  }
}

.info-col {
  @include flexbox();
  @include flex-direction(column);
  @include flex(2);
  @include justify-content(center);
  position: relative;
  padding: 40px;

  .info {
    @include flexbox();
    @include justify-content(center);
    margin: 20px 0;

    &-content {
      max-width: 480px;
    }

    .title {
      font-size: 34px;
      font-family: "Reenie Beanie", cursive;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    @include flex(1);

    .info {
      .title {
        font-size: 28px;
      }
    }
  }
}

/*------------------------------------*\
            ¡FLASH !MESSAGES
\*------------------------------------*/

.flash-container {
  background: color(color-1);
  text-align: center;
  ul {
    list-style: none;
    li {
      color: #fff;
      font-size: 20px;
    }
  }
}

/*------------------------------------*\
              ¡DASHBOARD
\*------------------------------------*/

.wrap-dashboard {
  background: color(neutral-0);
}

/*------------------------------------*\
               ¡CARDS
\*------------------------------------*/

.wrap-card {
  @include flexbox();
  margin-bottom: 10px;
}

.card {
  @include flex(1);
  background: color(neutral-1);
  padding: 20px;

  &.highlight {
    border-left: 4px solid color(accent-2);
  }

  &-meta {
    @include flexbox();
    @include justify-content(space-between);
    margin-bottom: 5px;
  }

  &-meta-info {
    color: color(muted);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-content {
    @include flexbox();
  }

  &-title {
    @include flex(0 1 40%);
    font-size: 14px;
    color: color(dark-1);
  }

  &-action {
    @include flex(0 1 20%);
    font-size: 14px;
    color: color(dark-1);
    text-align: right;
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    &-content {
      @include flex-direction(column);
      @include align-items(flex-start);
    }
  }
}

/*------------------------------------*\
              ¡THANK-YOU
\*------------------------------------*/

.thank-you-wrapper {
  background: color(accent-2);
  height: 100%;
  .title {
    color: color(neutral-1);
    font-size: 92px;
    font-family: "Reenie Beanie", cursive;
  }
  p {
    color: color(neutral-1);
    font-size: 32px;
    font-family: "Reenie Beanie", cursive;
  }

  .extra-info {
    font-size: 24px;
    margin-bottom: 60px;
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    .title {
      font-size: 72px;
    }
    p {
      font-size: 22px;
    }
  }
}

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

footer {
  height: config(footer);
}
