/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/

.btn {
    border: none;
    color: color(accent-2);
    cursor: pointer;
    padding: 1em 1em;
    text-transform: uppercase;
    background: color(neutral-1);
    text-decoration: none; /* for nested anchor tags */
    -webkit-appearance: none;
    &.btn-lg {
      font-size: 1.5rem;
    }
    &.btn-md {
      font-size: 1.25rem;
    }
    &.btn-sm {
      font-size: 1rem;
    }
    &.btn-full {
      width: 100%;
    }
    &.primary {
        border: solid .125em color(accent-2);
        border-color: color(accent-2);
        color: color(accent-2);
        padding: .625em 1em;
        &.hollow {
            background: transparent;
            color: color(accent-2);
        }
    }
    &.secondary {
      color: color(accent-1);
    }
}
