.container {
  margin-right: auto;
  margin-left: auto;
  max-width: config(container-width);
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-md {
  @extend .container;
  max-width: config(container-md-width);
}

.container-sm {
  @extend .container;
  max-width: config(container-sm-width);
}
