/*------------------------------------*\
              ¡FORMS
\*------------------------------------*/

.form-group {
  position: relative;
  .form-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 15px;
    width: 100%;
  }
  .icon {
    position: absolute;
    left: 6px;
    top: 6px;
  }
  &-error {
    color: color(error-1);
  }
}

.lk-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  span {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    color: #EEE;
    background-color: #EEE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .25rem;
  }
  input:checked ~ span {
    background: color(accent-2);
  }
}

.centered-form {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}
