$grid-1: 1fr;
$grid-2: 1fr 1fr;
$grid-3: 1fr 1fr 1fr;
$grid-4: 1fr 1fr 1fr 1fr;

.grid-2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: $grid-1;

  .col-span-2 {
    grid-column-start: span 2;
  }

  @media screen and (min-width: 415px) {
    grid-template-columns: $grid-2;
  }
}

.grid-3 {
  @extend .grid-2;

  @media screen and (min-width: 840px) {
    grid-template-columns: $grid-3;
  }
}

.grid-4 {
  @extend .grid-2;

  @media screen and (min-width: 840px) {
    grid-template-columns: $grid-3;
  }

  @media screen and (min-width: 940px) {
    grid-template-columns: $grid-4;
  }
}