/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/

header {
  height: config(header);
  @include flexbox();
  @include align-items(stretch);
  background: color(accent-2);

  .logo-container {
    @include flexbox();
    @include flex-grow(1);
    @include align-items(center);
    padding: 0 0 0 10px;
  }

  .title {
    color: color(neutral-1);
    font-family: 'Reenie Beanie', cursive;
    font-size: 34px;

    a {
      text-decoration: none;
      color: color(neutral-1);
    }

    @media screen and (max-width: breakpoint(phone-lg)) {
      font-size: 28px;
    }
  }

  .nav-container {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(row-reverse);
    @include flex-grow(4);
  }

  .link {
    margin: 0 25px;
    a {
      color: color(neutral-1);
      text-decoration: none;
    }
  }
}

/*------------------------------------*\
                  ¡NAV
\*------------------------------------*/

.wrap-dashboard-menu {
  background: color(neutral-1);
  @include flexbox();
  @include flex-direction(column);

  .nav-title {
    color: color(muted);
    letter-spacing: 2px;
    font-weight: bold;
  }

  .menu-link {
    margin: 5px 0;
    @include flexbox();
    @include align-items(center);

    a {
      text-decoration: none;
      color: color(dark-1);
    }

    .menu-icon {
      margin-right: 5px;
    }

    &.active {
      a {
        color: color(accent-2);
        font-weight: bold;
      }
      .menu-icon {
        color: color(accent-2);
      }
    }
  }
}