/*------------------------------------*\
                ¡ICONS
\*------------------------------------*/

.icon {
  &-tools {
    height: 65px;
    width: 45px;
  }
  &-glove {
    height: 55px;
    width: 45px;
  }
  &-plant {
    height: 60px;
    width: 45px;
  }
}
