/*------------------------------------*\
             ¡LAYOUT
\*------------------------------------*/
.row {
  @include flexbox();
  @include flex-wrap(wrap);

  margin-left: - config(grid-gap);
}

.col {
  @include flex(1);
  padding-left: config(grid-gap);

  @media (max-width: breakpoint(phone-lg)) {
    @include flex(1, 0, 100%);
    padding-left: config(grid-gap);
  }
}

/**
 * TMP GRID STUFF
 *
 * THIS IS CHAHN'S WORK. NOTE HE SEEMS TO WORK WITH MIN-WIDTH,
 * MORE THAN MAX-WIDTH fOR RESPONSIVE DESIGN. BUT I DID REFACTOR
 * THE COL CLASS ABOVE TO PREFER MAX-WIDTH STYLE
 */
//  Small screens
@media (min-width: breakpoint(phone-lg)) {
  .col-1 {
    flex-basis: 8.3333%;
    max-width: 8.3333%;
  }

  .col-2 {
    flex-basis: 16.6666%;
    max-width: 16.6666%;
  }

  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4 {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  .col-5 {
    flex-basis: 41.6666%;
    max-width: 41.6666%;
  }

  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7 {
    flex-basis: 58.3333%;
    max-width: 58.3333%;
  }

  .col-8 {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
  }

  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
  }

  .col-11 {
    flex-basis: 91.6666%;
    max-width: 91.6666%;
  }

  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
