.marketing-card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;

  .head {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 2.125rem; // 34px
    font-family: 'Reenie Beanie', cursive;
    margin: 0 1rem;
  }

  .content {
    color: color(dark-1);
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.125rem; // 18px
    line-height: 1.625rem; // 26px
  }
}