.product-grid {
  display: grid;
  grid-gap: 1.75rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  padding: 1.25rem 0;
  margin-top: 2rem;

  .product-card {
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);

    /**
     * flex positioning for card details
     */
    display: flex;
    flex-direction: column;

    img {
      border-radius: 6px 6px 0 0;
      width: 100%;
    }

    .product-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1; // push price details to bottom
      padding: 1.5rem;
    }

    .product-details__info {
      flex-grow: 1; // push price details to bottom
    }

    .product-details__pricing {
      margin: 1rem 0 0;
    }

    .title {
      color: #3F3841;
      margin: 0.625rem 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
    }

    .description {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: 'Baloo Tamma 2', cursive;
      color: color(muted);
      padding: 0 1rem;
    }

    .product-pricing {
      .symbol-dollar {
        color: #3F3841;
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;
      }
      .price {
        color: #3F3841;
        font-size: 34px;
        font-weight: bold;
      }
    }
  }
}
