.product-header {
  padding: 4rem 0;
  color: #fff;
  font-family: 'Reenie Beanie', cursive;

  .title {
    font-size: 92px;

    @media screen and (max-width: breakpoint(tablet)) {
      font-size: 62px;
    }
    @media screen and (max-width: breakpoint(phone-lg)) {
      font-size: 50px;
    }
  }

  .short-description {
    font-size: 34px;
    margin-bottom: 40px;

    @media screen and (max-width: breakpoint(tablet)) {
      font-size: 30px;
    }
  }
}

.product-info {
  .product-title {
    color: color(dark-1);
    font-family: 'Reenie Beanie', cursive;
    font-size: 42px;
  }

  .product-description {
    color: color(dark-1);
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.25rem; // 20px

    @media screen and (max-width: breakpoint(tablet)) {
      font-size: 1.125rem; // 18px
    }
  }
}

