$configs: (
  header: 65px,
  footer: 100px,
  sidebar: 300px,
  grid-gap: 2rem,
  container-width: 86.25rem,
  container-md-width: 75rem,
  container-sm-width: 40rem,
);

$colors: (
  neutral-0: #F7F7F7, /* VERY LIGHT GRAY */
  neutral-1: #FFFFFF, /* WHITE */
  neutral-2: #000000,
  error-1: #d63031, /* CHI-GONG */
  color-1: #4A90E2, /* WHY ARE color-1 AND accent-1 THE SAME? PROLLY BECAUSE I'M A MORON */
  color-2: #585858,
  accent-1: #4A90E2, /* MAIN BLUE */
  accent-2: #00b894, /* MINT LEAF */
  accent-3: #55efc4, /* LIGHT GREENISH BLUE */
  accent-4: #EFF3F7, /* LIGHT GRAY */
  dark-1: #2d3436, /* DRACULA ORCHID */
  muted: #95959B,
);

$breakpoints: (
  phone: 399px,
  phone-lg: 649px,
  tablet: 767px,
  tablet-lg: 991px,
  desktop-lg: 1024px
);

@function config($key) {
  @if map-has-key($configs, $key) {
    @return map-get($configs, $key);
  }
  @warn "Unknown #{$key} in configs map";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown #{$key} in colors map";
  @return null;
}

@function breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }
  @warn "Unknown #{$key} in breakpoints map";
  @return null;
}
