{% extends "layouts/admin.html" %}
{% set active_page = "dashboard" %}

{% block dashboard_title %}
  <div class="col col-12">
    <h2>Dashboard</h2>
  </div>
{% endblock dashboard_title %}

{% block dashboard_content %}
  <div>
    <div class="wrap-card">
      <div class="card highlight">
        <div class="card-meta">
          <p class="card-meta-info">Sales</p>
        </div>
        <div class="card-content">
          <p class="card-title">{{ context.purchases }}</p>
        </div>
      </div>
    </div>
    <div class="wrap-card">
      <div class="card highlight">
        <div class="card-meta">
          <p class="card-meta-info">Products</p>
        </div>
        <div class="card-content">
          <p class="card-title">{{ context.products }}</p>
        </div>
      </div>
    </div>
    <div class="wrap-card">
      <div class="card highlight">
        <div class="card-meta">
          <p class="card-meta-info">Users</p>
        </div>
        <div class="card-content">
          <p class="card-title">{{ context.users }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock dashboard_content %}
