{% extends "layouts/admin.html" %}
{% set active_page = "products" %}

{% block dashboard_title %}
  <div class="col col-12">
    <h2>Dashboard</h2>
  </div>
{% endblock dashboard_title %}

{% block dashboard_content %}
  <div>
    {% for product in context.products %}
      <div class="wrap-card">
        <div class="card">
          <div class="card-meta">
            <p class="card-meta-info">ID: {{ product.id }}</p>
          </div>
          <div class="card-content">
            <p class="card-title">{{ product.name }}</p>
            <p class="card-title"></p>
            <p class="card-action">${{ product.price }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock dashboard_content %}
