{% extends "layouts/admin.html" %}
{% set active_page = "sales" %}

{% block dashboard_title %}
  <div class="col col-12">
    <h2>Dashboard</h2>
  </div>
{% endblock dashboard_title %}

{% block dashboard_content %}
  <div>
    {% for purchase in context.purchases %}
      <div class="wrap-card">
        <div class="card">
          <div class="card-meta">
            <p class="card-meta-info">{{ purchase.created_at.strftime("%-d %B %y") }}</p>
          </div>
          <div class="card-content">
            <p class="card-title">{{ purchase.email }}</p>
            <p class="card-title">{{ purchase.product.name }}</p>
            <p class="card-action">{{ purchase.downloads_remaining }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock dashboard_content %}
