{% extends "layouts/admin.html" %}
{% set active_page = "users" %}

{% block dashboard_title %}
  <div class="col col-12">
    <h2>Dashboard</h2>
  </div>
{% endblock dashboard_title %}

{% block dashboard_content %}
  <div>
    {% for user in context.users %}
      <div class="wrap-card">
        <div class="card">
          <div class="card-content">
            <p class="card-title">{{ user.email }}</p>
            <p class="card-title"></p>
            <p class="card-action">{{ user.role }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock dashboard_content %}
