{% extends "layouts/base.html" %}

{% block content %}
  <div class="centered-content lk-squeeze-tight">
    <h1>Page not found</h1>
    <p><a href="{{ url_for('product.index') }}">Back</a></p>
  </div>
{% endblock %}
