{% extends "layouts/base.html" %}

{% block content %}
  <div class="centered-content lk-squeeze-tight">
    <h1>An unexpected error has occurred</h1>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
    <p><a href="{{ url_for('product.index') }}">Back</a></p>
  </div>
{% endblock %}
