<div class="product-info">
  <h2 class="product-title push-half--bottom">Description</h2>
  <p class="product-description push--bottom">
    If you live in a location where summer temperatures get higher than 80 degrees, you’ll know the challenge of trying to grow
    lettuce during this period. If you live in an area where you have protracted summer heat its even more difficult. Lettuce
    seeds are practically impossible to germinate in temps over 80. What good is having vine-ripened tomatoes, home grown onions
    and cucumbers if you can’t have fresh lettuce? This book takes you through the 5 steps to successfully have and harvest lettuce
    right thought extreme summer heat. In northern Utah, we’ve had temperatures of 95-104 for 5 weeks straight. Yet, I’ve been able
    to harvest a steady supply of lettuce greens all summer long. Once you learn the tricks you’ll be having the best tasting,
    freshly harvested salad greens that only the best restaurants in the country serve. You’ll never be satisfied buying at the
    grocery store when you learn how to do it.
  </p>
</div>