<div class="product-info">
  <h2 class="product-title push-half--bottom">Description</h2>
  <p class="product-description push--bottom">
    A short discussion on greenhouses and high tunnels before learning about low
    tunnels, which are amazing when you see what’s possible in even the harshest
    of climates. This class is 2-1/2 hours long and takes you down the journey of
    setting up and building your tunnels for a growing experience you’ve never
    had before. We discuss 4 different options for choosing the best tunnel for
    you. It’s seventeen degrees outside with a wind chill factor of minus 4? No
    problem! The final part of class are the crops you can grow and a planting
    schedule guide. This is a very content rich class.
  </p>
</div>
