<div class="product-info push--top">
  <h2 class="product-title push-half--bottom">Description</h2>
  <p class="product-description push--bottom">
    This 90 minute class takes you from beginning to end in learning how to successfully start your own crops,
    whether they be your favorite flowers or vegetables. A quick discussion about seeds, the right medium to grow in,
    different containers to use, and then we finish by showing you how to make your own light station.
  </p>
</div>