<div class="product-info">
  <h2 class="product-title push-half--bottom">Description</h2>
  <p class="product-description push--bottom">
    Ultricies integer quis auctor elit sed vulputate mi sit amet. Leo duis ut
    diam quam nulla porttitor massa id. Egestas egestas fringilla phasellus
    faucibus scelerisque eleifend donec pretium vulputate. Ut tortor pretium
    viverra suspendisse potenti nullam ac tortor. Tellus at urna condimentum
    mattis pellentesque id. Nunc congue nisi vitae suscipit tellus mauris.
    Consequat mauris nunc congue nisi vitae suscipit. Sit amet consectetur
    adipiscing elit duis tristique sollicitudin nibh sit. Eu turpis egestas
    pretium aenean pharetra magna ac. Ut tristique et egestas quis ipsum
    suspendisse ultrices gravida dictum. Turpis egestas maecenas pharetra
    convallis posuere morbi. Vivamus arcu felis bibendum ut. A diam
    sollicitudin tempor id eu nisl nunc. Dui id ornare arcu odio ut sem
    nulla. Dui sapien eget mi proin sed libero enim. Tincidunt tortor aliquam
    nulla facilisi. Velit ut tortor pretium viverra suspendisse potenti
    nullam. Tincidunt dui ut ornare lectus sit amet est placerat. Venenatis
    urna cursus eget nunc.
  </p>
  <p class="product-description push--bottom">
    Ultricies integer quis auctor elit sed vulputate mi sit amet. Leo duis ut
    diam quam nulla porttitor massa id. Egestas egestas fringilla phasellus
    Ultricies integer quis auctor elit sed vulputate mi sit amet. Leo duis ut
    diam quam nulla porttitor massa id. Egestas egestas fringilla phasellus
  </p>
</div>