<div class="product-info">
  <h2 class="product-title push-half--bottom">Description</h2>
  <p class="product-description push--bottom">
    An organic method to save 90% of your water. Save 95% of your seeds the first year. Garden in only 20% of the space of a traditional garden yet enjoy 100% of the harvest.
    This one hour and twenty minute class teaches you the basics of using a weed barrier, building a box, the importance of Mel’s mix and the grid, and the plant spacings.
    You’ll see why we don’t weed and why we use a lot less water than a traditional garden. Square foot gardening is the best and easiest way to grow the best food ever.
    Learn how to make gardening fun again.
  </p>
</div>