{% extends "layouts/base.html" %}

{% block header %}
  {% include "partials/nav.html" %}
{% endblock header %}

{% block content %}
  <div class="container-sm">
    <h2 class="push--top push-half--bottom">Sign In</h2>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="form-group push-half--bottom">
        {{ form.email(size=32, class="form-input", placeholder="email") }}
        {% for error in form.email.errors %}
          <span class="form-group-error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group push-half--bottom">
        {{ form.password(size=32, class="form-input", placeholder="password") }}
        {% for error in form.password.errors %}
          <span class="form-group-error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group push-half--bottom">
        {{ form.submit(class="btn btn-sm btn-full primary") }}
      </div>
    </form>
    <a href="{{ url_for('user.forgot_password') }}">Forgot Password</a>
  </div>
{% endblock content %}
