<div class="wrap-dashboard-menu pad">
  <h5 class="nav-title">NAVIGATION</h5>
  <div class="menu-link {% if active_page == 'dashboard' %}active{% endif %}">
    <div data-icon="ei-chart" class="menu-icon"></div>
    <a href="{{ url_for('admin.index') }}">Overview</a>
  </div>
  <div class="menu-link {% if active_page == 'sales' %}active{% endif %}">
    <div data-icon="ei-credit-card" class="menu-icon"></div>
    <a href="{{ url_for('admin.sales') }}">Sales</a>
  </div>
  <div class="menu-link {% if active_page == 'products' %}active{% endif %}">
    <div data-icon="ei-archive" class="menu-icon"></div>
    <a href="{{ url_for('admin.products') }}">Products</a>
  </div>
  <div class="menu-link {% if active_page == 'users' %}active{% endif %}">
    <div data-icon="ei-user" class="menu-icon"></div>
    <a href="{{ url_for('admin.users') }}">Users</a>
  </div>
</div>
