{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-container pad">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
