<header>
  <div class="logo-container">
    <h2 class="title"><a href="{{ url_for('product.index') }}">The Wealthy Earth</a></h2>
  </div>
  {% if current_user.is_authenticated %}
    <div class="nav-container">
      <div class="link"><a href="{{ url_for('user.logout') }}">Logout</a></div>
      {% if current_user.role == 'admin' %}
        <div class="link"><a href="{{ url_for('admin.index') }}">Admin</a></div>
      {% endif %}
    </div>
  {% else %}
    <div class="nav-container">
      <div class="link"><a href="{{ url_for('user.login') }}">Login</a></div>
      <div class="link"><a href="{{ url_for('user.register') }}">Register</a></div>
    </div>
  {% endif %}
</header>
