{% extends "layouts/base.html" %}

{% block header %}
  {% include "partials/nav.html" %}
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="product-grid">
      {% for product in context.products %}
        <a href="{{ url_for('product.show', id=product.id) }}" class="product-card">
          <img src="{{ url_for('static', filename=product.thumbnail_url) }}">
          <div class="product-details">
            <div class="product-details__info">
              <h4 class="title">{{ product.name }}</h4>
              <p class="description">{{ product.description_short }}</p>
            </div>
            <div class="product-details__pricing">
              <div class="product-pricing">
                <span class="symbol-dollar">$</span>
                <span class="price">{{ "{:,.2f}".format(product.price) }}</span>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}