{% extends "layouts/base.html" %}

{% block header %}
  {% include "partials/nav.html" %}
{% endblock header %}

{% block content %}
  <div
    class="product-header"
    style="background: linear-gradient(rgba(0, 184, 148, 0.85), rgba(0, 184, 148, 0.85)), url({{ url_for('static', filename=context.product.banner_url) }});"
  >
    <div class="container">
      <h2 class="title">{{ context.product.name }}</h2>
      <h6 class="short-description">{{ context.product.description_short }}</h6>
      <button class="btn btn-sm btn-stripe">Buy now for ${{ "{:,.2f}".format(context.product.price) }}</button>
    </div>
  </div>
  <div class="container pad--ends">
    <div class="product-info">
      {% if context.product.id == 1 %}
        {% include "product/partials/sfg-101-desc.html" %}
      {% elif context.product.id == 2 %}
        {% include "product/partials/hot-weather-lettuce-desc.html" %}
      {% elif context.product.id == 3 %}
        {% include "product/partials/composting-desc.html" %}
      {% elif context.product.id == 4 %}
        {% include "product/partials/seed-starting-desc.html" %}
      {% elif context.product.id == 5 %}
        {% include "product/partials/low-tunnel-gardening.html" %}
      {% elif context.product.id == 6 %}
        {% include "product/partials/wealthy-earth-101-desc.html" %}
      {% endif %}
    </div>

    <section class="section vertical-space-extra">
      <div class="grid-3">
        <div class="marketing-card">
          <div class="head">
            <img src="{{ url_for('static', filename='assets/img/tools@2x.png') }}" alt="tools" class="icon icon-tools">
            <h4 class="title">An efficient gardening system</h4>
          </div>
          <p class="content">
            The Square Foot Gardening system was designed to produce just as much (or more)
            than a traditional garden even in small spaces.
          </p>
        </div>
        <div class="marketing-card">
          <div class="head">
            <img src="{{ url_for('static', filename='assets/img/glove@2x.png') }}" alt="glove" class="icon icon-glove">
            <h4 class="title">Easy and fun</h4>
          </div>
          <p class="content">
            Square Foot Gardening claims an 80% reduction in water, garden size, weeding, and overall garden work.
            Here you’ll learn all those tips and tricks so you can focus on growing plants you love!
          </p>
        </div>
        <div class="marketing-card">
          <div class="head">
            <img src="{{ url_for('static', filename='assets/img/plant@2x.png') }}" alt="plant" class="icon icon-plant">
            <h4 class="title">Effective for anyone</h4>
          </div>
          <p class="content">
            Along with a wealth of Square Foot Gardening observations and advice,
            the author has included some of his family's favorite recipes.
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="text--center">
        <button id="custom" class="btn btn-stripe primary btn-lg">Buy now for ${{ "{:,.2f}".format(context.product.price) }}</button>
      </div>
    </section>
  </div>
{% endblock content %}

{% block extrascripts %}
  <script>
    const purchaseBtns = document.querySelectorAll('.btn-stripe');
    const productPrice = parseFloat('{{ context.product.price * 100 }}');

    const formatJson = response => response.json();
    const handleSuccess = response => window.location = response.redirectURI;
    const handleError = error => {
      const toastConfig = {
        text: 'There was an error trying to complete your order',
        duration: 3000,
        close: true,
        gravity: 'top',
        positionLeft: false,
        backgroundColor: '#d63031',
      };

      Toastify(toastConfig).showToast();
    };

    const handler = StripeCheckout.configure({
      key: '{{ context.stripe_key }}',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      zipCode: true,
      token: function(token) {
        const { id, email } = token;
        fetch('/charge', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            email,
            token: id,
            productId: '{{ context.product.id }}',
          }),
        })
          .then(formatJson)
          .then(handleSuccess)
          .catch(handleError);
      }
    });

    function addStripeListener(btn) {
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        handler.open({
          name: '{{ context.product.name }}',
          description: '{{ context.product.product_type|upper }}',
          amount: productPrice,
        });
      });
    }

    purchaseBtns.forEach(addStripeListener);

    window.addEventListener('popstate', function() {
      handler.close();
    });
  </script>
{% endblock extrascripts %}
