<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wealthy Earth</title>
</head>
  <body style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-font-smoothing: antialiased; font-weight: 300; padding: 10px; background-color: #303030;">
    <table style="width: 580px; border-collapse:collapse; font-family: helvetica; font-weight: light; background-color: #fff; border-top: 20px solid #55efc4; margin: 20px auto;">
      <tr>
        <td style="padding: 20px;">
          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;">
            <tr>
              <td>
                <h2 style="font-family: sans-serif; font-weight: 400; line-height: 1.4; margin: 0; margin-bottom: 25px;">WealthyEarth Purchase 💰</h2>
                <p style="margin: 0; margin-bottom: 15px; font-weight: normal">
                  {{ context.customer_email }} has purchased {{ context.purchase.product.name }}.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <button style="background: #00b894; border: 0; border-radius: 2px; margin: 0; padding: 0; display: inline-block;">
                  <a
                    href="{{ url_for('admin.sales', _external=True, _scheme='https') }}"
                    style="padding: 10px 30px; color: #fff; font-size: 16px; text-decoration: none; display: block; height: 100%; cursor: pointer;"
                  >
                    Admin →
                  </a>
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
