{% extends "layouts/base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js"></script>
{% endblock head %}

{% block header %}
  {% include "partials/nav.html" %}
{% endblock header %}

{% block content %}
  <div class="wrap-dashboard">
    <div class="lk-squeeze">
      <div class="row pad--ends">
        {% block dashboard_title %}{% endblock dashboard_title %}
      </div>
      <div class="row">
        <div class="col col-4 push-half--bottom">
          {% include "partials/admin-nav.html" %}
        </div>
        <div class="col col-8">
          {% block dashboard_content %}
          {% endblock dashboard_content %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
