@charset "UTF-8";
/********************
¡FLEXBOX MIXINS
********************/
/********************
¡MIXINS
********************/
/********************
¡CLASSES
********************/
.lk-clear:after, .lk-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
@media screen and (max-width: 649px) {
  .lk-squeeze {
    padding: 0 10px;
  }
}

.lk-squeeze-tight {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 480px;
}
@media screen and (max-width: 649px) {
  .lk-squeeze-tight {
    padding: 0 10px;
  }
}

.show-mobile-inline,
.show-mobile-block {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .show-mobile-inline {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .show-mobile-block {
    display: block !important;
  }
}

@media screen and (max-width: 649px) {
  .hide-mobile {
    display: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important;
}

.push--top {
  margin-top: 20px !important;
}

.push--right {
  margin-right: 20px !important;
}

.push--bottom {
  margin-bottom: 20px !important;
}

.push--left {
  margin-left: 20px !important;
}

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.push-half {
  margin: 10px !important;
}

.push-half--top {
  margin-top: 10px !important;
}

.push-half--right {
  margin-right: 10px !important;
}

.push-half--bottom {
  margin-bottom: 10px !important;
}

.push-half--left {
  margin-left: 10px !important;
}

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.flush {
  margin: 0 !important;
}

.flush--top {
  margin-top: 0 !important;
}

.flush--right {
  margin-right: 0 !important;
}

.flush--bottom {
  margin-bottom: 0 !important;
}

.flush--left {
  margin-left: 0 !important;
}

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/**
 * Add/remove paddings
 */
.pad {
  padding: 20px !important;
}

.pad--top {
  padding-top: 20px !important;
}

.pad--right {
  padding-right: 20px !important;
}

.pad--bottom {
  padding-bottom: 20px !important;
}

.pad--left {
  padding-left: 20px !important;
}

.pad--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pad--sides {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pad-half {
  padding: 10px !important;
}

.pad-half--top {
  padding-top: 10px !important;
}

.pad-half--right {
  padding-right: 10px !important;
}

.pad-half--bottom {
  padding-bottom: 10px !important;
}

.pad-half--left {
  padding-left: 10px !important;
}

.pad-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pad-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/**
* Floats
*/
.none {
  float: none !important;
}

.pull--right {
  float: right !important;
}

.pull--left {
  float: left !important;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

/**
* Centering elements
*/
.center--vertical {
  vertical-align: middle;
}

.center--horizontal {
  margin: 0 auto;
  display: block;
}

.text--center {
  text-align: center !important;
}

.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.centered-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  border: none;
  color: #00b894;
  cursor: pointer;
  padding: 1em 1em;
  text-transform: uppercase;
  background: #FFFFFF;
  text-decoration: none; /* for nested anchor tags */
  -webkit-appearance: none;
}
.btn.btn-lg {
  font-size: 1.5rem;
}
.btn.btn-md {
  font-size: 1.25rem;
}
.btn.btn-sm {
  font-size: 1rem;
}
.btn.btn-full {
  width: 100%;
}
.btn.primary {
  border: solid 0.125em #00b894;
  border-color: #00b894;
  color: #00b894;
  padding: 0.625em 1em;
}
.btn.primary.hollow {
  background: transparent;
  color: #00b894;
}
.btn.secondary {
  color: #4A90E2;
}

/*------------------------------------*\
                ¡ICONS
\*------------------------------------*/
.icon-tools {
  height: 65px;
  width: 45px;
}
.icon-glove {
  height: 55px;
  width: 45px;
}
.icon-plant {
  height: 60px;
  width: 45px;
}

/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/
header {
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  background: #00b894;
}
header .logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 0 0 0 10px;
}
header .title {
  color: #FFFFFF;
  font-family: "Reenie Beanie", cursive;
  font-size: 34px;
}
header .title a {
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (max-width: 649px) {
  header .title {
    font-size: 28px;
  }
}
header .nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}
header .link {
  margin: 0 25px;
}
header .link a {
  color: #FFFFFF;
  text-decoration: none;
}

/*------------------------------------*\
                  ¡NAV
\*------------------------------------*/
.wrap-dashboard-menu {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrap-dashboard-menu .nav-title {
  color: #95959B;
  letter-spacing: 2px;
  font-weight: bold;
}
.wrap-dashboard-menu .menu-link {
  margin: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.wrap-dashboard-menu .menu-link a {
  text-decoration: none;
  color: #2d3436;
}
.wrap-dashboard-menu .menu-link .menu-icon {
  margin-right: 5px;
}
.wrap-dashboard-menu .menu-link.active a {
  color: #00b894;
  font-weight: bold;
}
.wrap-dashboard-menu .menu-link.active .menu-icon {
  color: #00b894;
}

/*------------------------------------*\
              ¡FORMS
\*------------------------------------*/
.form-group {
  position: relative;
}
.form-group .form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}
.form-group .icon {
  position: absolute;
  left: 6px;
  top: 6px;
}
.form-group-error {
  color: #d63031;
}

.lk-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
}
.lk-checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.lk-checkbox span {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  color: #EEE;
  background-color: #EEE;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
}
.lk-checkbox input:checked ~ span {
  background: #00b894;
}

.centered-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.grid-2, .grid-4, .grid-3 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}
.grid-2 .col-span-2, .grid-4 .col-span-2, .grid-3 .col-span-2 {
  grid-column-start: span 2;
}
@media screen and (min-width: 415px) {
  .grid-2, .grid-4, .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 840px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 840px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 940px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*------------------------------------*\
                ¡LINKS
\*------------------------------------*/
.link {
  cursor: pointer;
  text-decoration: none;
}
.link.color-1 {
  color: #4A90E2;
}
.link.color-1:link, .link.color-1:visited {
  color: #4A90E2;
}
.link.color-1:hover, .link.color-1:active {
  text-decoration: underline;
}

/*------------------------------------*\
             ¡LAYOUT
\*------------------------------------*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2rem;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 2rem;
}
@media (max-width: 649px) {
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -moz-box-flex: 1;
    -moz-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-left: 2rem;
  }
}

/**
 * TMP GRID STUFF
 *
 * THIS IS CHAHN'S WORK. NOTE HE SEEMS TO WORK WITH MIN-WIDTH,
 * MORE THAN MAX-WIDTH fOR RESPONSIVE DESIGN. BUT I DID REFACTOR
 * THE COL CLASS ABOVE TO PREFER MAX-WIDTH STYLE
 */
@media (min-width: 649px) {
  .col-1 {
    flex-basis: 8.3333%;
    max-width: 8.3333%;
  }
  .col-2 {
    flex-basis: 16.6666%;
    max-width: 16.6666%;
  }
  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-4 {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
  .col-5 {
    flex-basis: 41.6666%;
    max-width: 41.6666%;
  }
  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-7 {
    flex-basis: 58.3333%;
    max-width: 58.3333%;
  }
  .col-8 {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
  }
  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
  }
  .col-11 {
    flex-basis: 91.6666%;
    max-width: 91.6666%;
  }
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

body {
  background: #F7F7F7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

.lk-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.section ul {
  list-style: none;
}

/*------------------------------------*\
                ¡COLUMNS
\*------------------------------------*/
/**
 * TODO This class is an inherent code smell imo, need to fix
 */
.full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .full {
    /**
     * flexbox is lame sometimes. I was just switching from
     * rows to columns here, but there were issues dealing
     * with height and preventing scrolling.
     */
    display: inline;
  }
}

.main-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background: url(/static/assets/img/mast-bg.png) no-repeat scroll center bottom;
  background-size: cover;
}
.main-col-accent {
  background: url(/static/assets/img/mast-bg-green.png) no-repeat scroll center bottom;
  background-size: cover;
}
.main-col .title {
  font-size: 92px;
  color: #FFFFFF;
  font-family: "Reenie Beanie", cursive;
}
.main-col .sub-title-wrapper {
  padding: 0 20px;
}
.main-col .sub-title {
  font-size: 34px;
  color: #FFFFFF;
  font-family: "Reenie Beanie", cursive;
}
.main-col .sub-title-info {
  color: #95959B;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: bold;
}
.main-col .content {
  padding: 0 20px;
}
.main-col .description {
  color: #FFFFFF;
  max-width: 500px;
  font-size: 18px;
  line-height: 26px;
  margin: 40px 0;
}
.main-col .stripe {
  color: #95959B;
  font-size: 12px;
}
@media screen and (max-width: 649px) {
  .main-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .main-col .main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .main-col .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .main-col .title {
    font-size: 42px;
  }
  .main-col .sub-title-wrapper {
    padding: 0 10px;
  }
  .main-col .sub-title {
    font-size: 18px;
  }
  .main-col .content {
    padding: 0 10px;
  }
  .main-col .description {
    font-size: 14px;
    line-height: 24px;
    max-width: 300px;
  }
}

.info-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}
.info-col .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 20px 0;
}
.info-col .info-content {
  max-width: 480px;
}
.info-col .info .title {
  font-size: 34px;
  font-family: "Reenie Beanie", cursive;
  margin-bottom: 10px;
}
@media screen and (max-width: 649px) {
  .info-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .info-col .info .title {
    font-size: 28px;
  }
}

/*------------------------------------*\
            ¡FLASH !MESSAGES
\*------------------------------------*/
.flash-container {
  background: #4A90E2;
  text-align: center;
}
.flash-container ul {
  list-style: none;
}
.flash-container ul li {
  color: #fff;
  font-size: 20px;
}

/*------------------------------------*\
              ¡DASHBOARD
\*------------------------------------*/
.wrap-dashboard {
  background: #F7F7F7;
}

/*------------------------------------*\
               ¡CARDS
\*------------------------------------*/
.wrap-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.card {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #FFFFFF;
  padding: 20px;
}
.card.highlight {
  border-left: 4px solid #00b894;
}
.card-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 5px;
}
.card-meta-info {
  color: #95959B;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.card-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  font-size: 14px;
  color: #2d3436;
}
.card-action {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  font-size: 14px;
  color: #2d3436;
  text-align: right;
}
@media screen and (max-width: 649px) {
  .card-content {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
}

/*------------------------------------*\
              ¡THANK-YOU
\*------------------------------------*/
.thank-you-wrapper {
  background: #00b894;
  height: 100%;
}
.thank-you-wrapper .title {
  color: #FFFFFF;
  font-size: 92px;
  font-family: "Reenie Beanie", cursive;
}
.thank-you-wrapper p {
  color: #FFFFFF;
  font-size: 32px;
  font-family: "Reenie Beanie", cursive;
}
.thank-you-wrapper .extra-info {
  font-size: 24px;
  margin-bottom: 60px;
}
@media screen and (max-width: 649px) {
  .thank-you-wrapper .title {
    font-size: 72px;
  }
  .thank-you-wrapper p {
    font-size: 22px;
  }
}

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
footer {
  height: 100px;
}

.container, .container-sm, .container-md {
  margin-right: auto;
  margin-left: auto;
  max-width: 86.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-md {
  max-width: 75rem;
}

.container-sm {
  max-width: 40rem;
}

.section {
  margin: 1rem 0;
}
.section.vertical-space-extra {
  margin-top: 80px;
  margin-bottom: 80px;
}

.product-grid {
  display: grid;
  grid-gap: 1.75rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  padding: 1.25rem 0;
  margin-top: 2rem;
}
.product-grid .product-card {
  background: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  /**
   * flex positioning for card details
   */
  display: flex;
  flex-direction: column;
}
.product-grid .product-card img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
.product-grid .product-card .product-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
}
.product-grid .product-card .product-details__info {
  flex-grow: 1;
}
.product-grid .product-card .product-details__pricing {
  margin: 1rem 0 0;
}
.product-grid .product-card .title {
  color: #3F3841;
  margin: 0.625rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}
.product-grid .product-card .description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Baloo Tamma 2", cursive;
  color: #95959B;
  padding: 0 1rem;
}
.product-grid .product-card .product-pricing .symbol-dollar {
  color: #3F3841;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
}
.product-grid .product-card .product-pricing .price {
  color: #3F3841;
  font-size: 34px;
  font-weight: bold;
}

.product-header {
  padding: 4rem 0;
  color: #fff;
  font-family: "Reenie Beanie", cursive;
}
.product-header .title {
  font-size: 92px;
}
@media screen and (max-width: 767px) {
  .product-header .title {
    font-size: 62px;
  }
}
@media screen and (max-width: 649px) {
  .product-header .title {
    font-size: 50px;
  }
}
.product-header .short-description {
  font-size: 34px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .product-header .short-description {
    font-size: 30px;
  }
}

.product-info .product-title {
  color: #2d3436;
  font-family: "Reenie Beanie", cursive;
  font-size: 42px;
}
.product-info .product-description {
  color: #2d3436;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .product-info .product-description {
    font-size: 1.125rem;
  }
}

.marketing-card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}
.marketing-card .head {
  display: flex;
  align-items: center;
}
.marketing-card .title {
  font-size: 2.125rem;
  font-family: "Reenie Beanie", cursive;
  margin: 0 1rem;
}
.marketing-card .content {
  color: #2d3436;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

/*# sourceMappingURL=main.css.map */
